<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script>
			function logout()
			{
				if(confirm("Are you sure to Logout?"))
				{
					window.location = "/exam/logout/";
				}
			}
		</script>
	</head>
    <body>
		<div class="fixed-top">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="">Exam Registration</a>
			  <div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
				  <li class="nav-item active">
					<a class="nav-link" href=""> Home </a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/exam/add_exam/"> Post </a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/exam/view_exams/"> Examinations </a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" onclick="logout()"> Logout </a>
				  </li>
				</ul>
			  </div>
			</nav>
		</div>
			<div class="container" style="height:150px;"></div>
			<div class="container-fluid">
				<center><img src="{{ url_for('static', filename='images/home.jpg') }}" class="img-fluid"
							 alt="Responsive image"></center>
			</div>
			<div class="container" style="height:70px;"></div>
			<div class="container">
				<h1>Why Choose a Certification in CS?</h1>
				<p>
					Information technology (IT) professionals may select from a wide variety of non-degree computer science
					certifications to demonstrate their competence in a specialty, learn valuable skills, and advance their 
					careers. A computer science certification online validates a professional's technical knowledge and 
					experience with specific products, methods, or practices. Roles within the computer science industry 
					that may require certification include systems engineer, security manager, network administrator, software 
					developer, and project manager. Because these high-paying roles involve using technical expertise to manage
					and protect essential operations and sensitive data, employers value — and often require — proven credentials.

					Computer science certifications ask candidates to pass one or more tests. In preparing to pass these 
					credentialing exams, professionals gain and practice certain skills. Many professionals value the process 
					of preparing for these tests since they gain knowledge they can apply in their jobs and use to
					advance their careers.
				</p>
			</div>
			<div class="container" style="height:50px;"></div>
			<div class="container-fluid">
				<center><img src="{{ url_for('static', filename='images/images.jpg') }}" class="img-fluid"
							 alt="Responsive image"></center>
			</div>
			<div class="container" style="height:50px;"></div>
			<div class="container" >
				<h1>Types of Certifications..</h1>
				<p>
					Certification candidates should know the difference between certifications and select the right one for them. 
					Professionals who work with a particular product, platform, or practice may need a vendor-specific certification 
					to validate their expertise. Vendor-neutral certification serves those who want to change jobs, or who seek the 
					flexibility to work in their area of expertise regardless of the specific tools their employer uses.
				</p>
			</div>
			<div class="container" style="height:100px;"></div>
			<div class="container" >
				<h1>Certifications Here..</h1>
				<p>
					Certification candidates should know the difference between certifications and select the right one for them. 
					We offer you free Examinations. Candidates who only are interested in getting certificates may pay.
					These examinations are on main consideration for under graduate and post graduate students who are 
					willing to know and certificate their knowledge with new technologies..
				</p>
			</div>
			<div class="container" style="height:100px;"></div>
    </body>
</html>